conf.version = 4
id = {{ shake_task_id }}
master_quorum = false
full_sync.http_port = {{ full_port }}
incr_sync.http_port = {{ incr_port }}
system_profile_port = {{ system_port }}

log.level = info
log.dir =
log.file = collector.log
log.flush = false
sync_mode = {{ sync_mode }}
mongo_urls = {{ source_addr }}
mongo_cs_url =
mongo_s_url =
tunnel = direct
tunnel.address = {{ target_addr }}
tunnel.message = raw
mongo_connect_mode = secondaryPreferred
filter.namespace.black =
filter.namespace.white = {% if filter_namespace_white %}{{ filter_namespace_white }}{% endif %}
filter.pass.special.db =
filter.ddl_enable = false
checkpoint.storage.url =
checkpoint.storage.db = {{ checkpoint_db }}
checkpoint.storage.collection = ckpt_default
checkpoint.start_position = 1970-01-01T00:00:00Z
transform.namespace =
full_sync.reader.collection_parallel = 6
full_sync.reader.write_document_parallel = 8
full_sync.reader.document_batch_size = 128
full_sync.collection_exist_drop = {{ collection_exist_drop_mode | default(false) }}
full_sync.create_index = {{ create_index_mode|default("background") }}
full_sync.executor.insert_on_dup_update = false
full_sync.executor.filter.orphan_document = false
full_sync.executor.majority_enable = false
incr_sync.mongo_fetch_method = oplog
incr_sync.oplog.gids =
incr_sync.shard_key = collection
incr_sync.worker = 8
incr_sync.worker.oplog_compressor = none
incr_sync.target_delay = 0
incr_sync.worker.batch_queue_size = 64
incr_sync.adaptive.batching_max_size = 1024
incr_sync.fetcher.buffer_capacity = 256
incr_sync.executor.upsert = false
incr_sync.executor.insert_on_dup_update = false
incr_sync.conflict_write_to = none
incr_sync.executor.majority_enable = false
